{% extends "framework/components/base.html" %}

{% load static %}
{% block content %}


<div class="jumbotron jumbotron-fluid text-white fixed-top">
  <div class="container margin-top">
    <h1 class="display-3 head-title">Anonymous inheritance for the blockchain era.</h1>
    <p class="head-sub">coming soon</p>
    <p class="lead">
  </p>
          
          <div class="container">
            <div id="mc_embed_signup" class="card card-container spsn-12">
              <form action="//Inherabit.us15.list-manage.com/subscribe/post?u=4a5cff2f66315530dfcfcc3c1&amp;id=af411ab441" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-signin" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                  	<input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" iplaceholder="Email address" required autofocus>
                      <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_4a5cff2f66315530dfcfcc3c1_af411ab441" tabindex="-1" value="">
                      </div>
                      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg btn-primary btn-block btn-signin">
                      </div>
                    </div>
              </form>
            </div>
            
            
        
    </div>
  </div>
</div>

  
    
  
{% endblock content %}
