{% extends "framework/components/base.html" %}

{% load static %}
{% block content %}

<h1>Dashboard</h1>
{{ login_message }}

<div class="flex-container">
{% for switch in switches %}
  <div class="card">
    <h3>Switch {{ switch.name }}</h3>
    <ul>
      <li>Timeframe: {{ switch.timeframe }} days to activation.</li>
      <li>Notification: {{ switch.notification }} days before activation.</li>
      <li>Beneficiary: {{ switch.beneficiary }}</li>
      <li>Secret: {{ switch.secret }}</li>
    </ul>
  </div>
{% endfor %}
</div>

<!-- Trigger/Open The Modal -->
<button id="myBtn">New Switch</button>

<!-- The Modal -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Create new Switch</h2>
    <form method="post">
      <table>
        {% csrf_token %}
        {% for field in form %}
          <tr>
              {{ field.errors }}
              <th>{{ field.label_tag }}</th> 
              <th>{{ field }}</th>
              {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
              {% endif %}
          </tr>
        {% endfor %}
        <!-- {{ form.as_p }} -->
      </table>
      <button type="submit">Create Swtich</button>
    </form>
  </div>
</div>

<!-- <button onclick="window.location.href='{% url 'framework:logout' %}'">Logout</button> -->
  
<script src="{% static 'framework/js/modals.js' %}"></script>
{% endblock content %}
