/* ALL */
body {
    background-color: white;
    margin: 0;
    font-family: Arial,Helvetica;
}


/* HEADER */
nav {
  background-color: #2d2d2d;
  padding-right: 10%;
  padding-left: 10%;
}
nav ul {
  list-style-type: none;
  margin: 0;

  padding-left: 0px;
  overflow: hidden;
  -webkit-padding-start: 0px;
}
nav li {
  float: left;
}
nav img {
  width: 29px;
  padding-right: 4px;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav li a:hover {
  background-color: #878787;
}
nav .nav-brand {
  float: left;
  font-weight: bold;
  font-size: 30px;
}
nav .nav-category {
  float: right;
  height: 30px;
}
nav .nav-element {
  padding: 22px 16px;
}

/* BODY */
.body {
  padding-left: 10%;
  margin-left: 16px;
}
.body button {
  padding: 4px 8px;
  margin-bottom: 10px;
}

/* MDOAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
