<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="description" content="Anonymous Inheritance for the Blockchain Era">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static '/framework/images/favicon.ico' %}" sizes="32x32">

    <link rel="stylesheet" href="{% static '/framework/style/normalize.css' %}">
    <link rel="stylesheet" href="{% static '/framework/style/style.css' %}">

    <title>
        {% block title %}Inherabit{% endblock title %}
    </title>

  </head>
  <body>
    
    {% include "framework/components/header.html" %}
    <div class="body">
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
          {% endfor %}
        </ul>
      {% endif %}

      {% block content %}
      Inherabit Landing Page
      {% endblock content %}

      {% include "framework/components/footer.html" %}
    </div>
  </body>

</html>
